* {
  padding: 0;
  margin: 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: grid;
  grid-template: 1fr repeat(4, 1fr) / 1fr repeat(4, 1fr);
  height: 100vh;
}

:root {
  --blue-0: rgb(79, 172, 235);
  --blue-1: rgb(10, 10, 58);
  --blue-2: rgb(201, 223, 243);
}

.logo-placeholder {
  display: inline-block;
  background-color: turquoise;
  padding: 20px;
  margin-right: 8px;
}

.sidebar-menu-icon,
.logo-icon {
  /* display: inline-block;
  background-color: turquoise;
  padding: 12px; */
  margin-right: 8px;
  width: 1.5rem;
  filter: invert(1);
}

.logo-icon {
  width: 2rem;
}

.sidebar {
    background-color: var(--blue-1);
    color: white;
    padding: 1.5rem;
    grid-column: 1;
    grid-row: 1 / span 5;
    font-weight: bold;
}

.logo {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.sidebar > ul {
    padding: 0.3rem;
    list-style-type: none;
}

.sidebar-menu-upper {
    margin-bottom: 16px;
}

.sidebar li {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.header {
  padding: 1rem 2rem 0 2rem;
  grid-column: 2 / span 4;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  box-shadow: 0 0 10px #888888;
  position: relative;
  z-index: 2;
}

.upper-header {
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  gap: 20vw;
}

input[class="search-key"] {
  border-radius: 16px;
  border: none;
  outline: none;
  padding: 0.5rem 0.7rem;
  background-color: lightgrey;
  width: 100%;
}

.search-icon {
  margin-right: 0.5rem;
  width: 1.5rem;
  filter: invert(0.5);
}

.search-bar {
  display: flex;
  align-items: center;
  width: 40%;
  flex-grow: 2;
}

.sidebar-upper-end {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
}

.notification-icon {
  width: 1.2rem;
  filter: invert(0.5);
}

.user-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 8rem;
  object-fit: cover;
}

.lower-header {
  grid-row: 2 / span 2;
  display: flex;
  justify-content: space-between;
}

.action-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.action {
  background-color: var(--blue-0);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.8rem;
  border-radius: 20px;
  border: none;
  width: 6rem;
}

.action:hover {
  opacity: 0.5;
}

.user-avatar-large {
  width: 6rem;
  height: 6rem;
  border-radius: 12rem;
  object-fit: cover;
}

.user-welcome {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.username-display-large {
  font-weight: bold;
  font-size: 1.5rem;
}

.main-content {
  background-color: var(--blue-2);
  grid-column: 2 / span 4;
  grid-row: 2 / span 4;
  gap: 1rem;
  display: grid;
  padding: 1rem 1rem 1rem 0.8rem;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr 1fr;
  overflow-y: auto;
  /* height: 100%;  doesnt work because 100% will be 100vh since its parent is body*/ 
}

.project-section {
  grid-row: span 2;
}

.project-section-title,
.announcement-section-title,
.trending-section-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
}

.project-card {
  padding: 1rem;
  background-color:white;
  width: 100%;
  height: 30vh;
  box-shadow: 0px 0px 5px #c5c5c5;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border-width: 0 0 0 0.5rem;
  border-style: solid;
  border-color: blue;
}

.project-card-title,
.announcement-title {
  font-weight: bold;
  height: 15%;

  /* below code only works if you want to clip one line */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.project-card-action-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  height: 10%;

}

.project-card-desc,
.announcement-desc {
  font-size: 0.9rem;
  height: 73%;
  overflow: auto;
  margin-bottom: 2%;
}

.project-card-action {
  width: 1rem;
}

.project-card-action:hover {
  filter: opacity(0.5);
}

.announcement-item-container {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: auto;
  max-height: 50vh;
}

.announcement-item:not(:last-child) {
  border-bottom: 0.1rem solid lightgray;
  padding-bottom: 1rem;
}

.announcement-title {
  padding-top: 0.5rem;
}

.trending-item-container {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.trending-item {
  display: grid;
  grid-template: 1fr 1fr / 3.5rem 1fr;
  gap: 0 0.7rem;
  align-items: center;
}

.trending-item:not(:last-child) {
  padding-bottom: 1rem;
}

.trending-user-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 6rem;
  grid-row: span 2;
}

.trending-user-handle {
  font-weight: 600;
  grid-column: 2;
}

.trending-topic {
  grid-column: 2;
  grid-row: 2;
  filter: opacity(0.5);
}









